.SkillsBox{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
}
.responsive {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 500px) {
    .SkillsBox{
   
    grid-template-columns: repeat(3, 1fr);
   
}
}