.HomeBox{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    gap: 3rem;
    align-items: center;
}

.HomeSubBox{
    display: grid;
    justify-items: center;
    align-items: center;
    align-content: center;
}

@media only screen and (max-width: 768px) {
 .HomeBox{

    grid-template-columns: repeat(1 , 1fr);
}
}