*{
    margin: 1vw;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
}


.MainBox{
   
   display: grid;
   grid-template-columns: 25ch auto;
}
.MainSubBox{
   border: 1px solid rgb(255, 82, 52);
   padding: 10px;
   border-radius: 10px;
}
.menuBox{
     display: flex;
}

@media only screen and (max-width: 768px) {
.MainBox{
   
   display: grid;
   grid-template-columns: 0ch auto;
}
.menuBox{
     visibility: hidden;
}
}